/* Custom CSS */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /* Añadido para incluir márgenes y padding en el tamaño total del elemento */
}

.error-message {
    color: red;
}

#home {
    background: linear-gradient(to bottom right, rgb(1, 3, 90), rgb(62, 142, 196));
}

#home h1 {
    font-size: 70px;
    background-image: linear-gradient(43deg, #417ad0 0%, #c850c8 46%, #ffcc70 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.navbar {
    font-size: 20px;
    background-color: #fff;
}
.section {
    padding: 100px 100px;
    text-align: center;
}

#features{
    background-color:#d2b4db;
}

.feature-icon {
    font-size: 52px;
    color:  #1c0f8a;
    margin-bottom: 10px;
}
.feature-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-description {
    font-size: 16px;
    color: #034d92;
}
.cta-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
}
.testimonials .testimonials-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px #adb5bd;
}
.footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}